.cv {
  background: white;
  margin-right: 75px;
  margin-left: 75px;
  height: 500pc;
}

.cvphoto {
  border-radius: 50%;
  overflow: hidden;
  width: 150px;
  height: 150px;
}

.employee_name {
  margin-top: 10px;
  font-size: 35px;
}

.facebook {
  height: 30px;
}

.twitter {
  height: 30px;
  margin-left: 8px;
}

.github {
  height: 30px;
  margin-left: 8px;
}

.instagram {
  height: 30px;
  margin-left: 1px;
}

.social_media {
  margin-top: 28px;
}

.title {
  font-family: microsoft jhenghei;
  font-size: 20px;
  font-weight: 520;
  letter-spacing: 0;
  margin-top: 0;
  margin-bottom: 10px;
  line-height: 1.5em;
}

.cover_letter {
  margin-left: 8.3333333333%;
  width: 83.3333333333%;
}

.deneme {
  font-size: 16px;
  line-height: 1.5em;
  margin-bottom: 0;
}

.abilities_image {
  height: 60px;
  margin-top: 20px;
}

.abilities_title {
  font-size: 40px;
}

.abilities {
  margin-top: 50px;
  margin-right: 800px;
  align-content: center;
}

.software_image {
  height: 40px;
  margin-top: -1000pc;
  margin-right: 550px;
  padding-bottom: 10px;
}

.software_title {
  margin-top: 50px;
  font-size: 20px;
}

.labels {
  padding-right: 75px;
}

.sotware_title {
  display: inline-block;
  background-color: #13ab67;
  border-radius: 10px;
  font-size: 1.5rem;
  color: white;
  padding: 6px 10px 6px 10px;
  margin-right: 4px;
  margin-bottom: 4px;
}

.language {
  align-content: center;
}

.language_image {
  height: 40px;
  margin-top: -1000pc;
  margin-right: 770px;
  padding-bottom: 10px;
}

.language_title {
  font-size: 20px;
}
.language {
  margin-right: 900px;
  margin-top:150px;
}

.language_name{
  background-color:#ffc857;
  border-radius:10px;color:black;
  padding:6px 10px 6px 10px;
  font-size: 1.5rem;
  margin-right:4px;
  margin-bottom:3px;
}

i.icon.edit:before{
  margin-left: 458px;
  margin-top: -150px;
}
